<loading-image [is-loading]="isLoading"></loading-image>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row pb-4">
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 55px;">
                    <p-breadcrumb [model]="items"></p-breadcrumb>
                </div>
            </div>
            <div class="d-flex justify-content-between"></div>
            <div class="card p-3">
                <form [formGroup]="subSiteGroup" novalidate>
                    <div class="row pb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="required" for="departmentOid">Customer</label>
                                <p-dropdown [options]="departmentList" [showClear]="true" formControlName="departmentOid" id="departmentOid"
                                    optionLabel="departmentName" optionValue="departmentOid" placeholder="Select Department">
                                </p-dropdown>
                            </div>
                            <div class="form-group">
                                <label class="required" for="siteName">Site</label>
                                <p-dropdown [options]="siteNameList" [showClear]="true" formControlName="siteOid" id="siteOid"
                                optionLabel="siteName" optionValue="siteOid" placeholder="Select Site">
                               </p-dropdown> 
                            </div>
                            <div class="form-group">
                                <label class="required" for="subSiteName">SubSite Name</label>
                                <input class="inputfield w-full" formControlName="subSiteName" id="subSiteName" pInputText
                                    placeholder="{{'SubSite Name' }}" type="text">
                            </div>
                            <div class="form-group">
                                <label class="required" for="subSiteAddress">SubSite Address</label>
                                <textarea class="inputfield w-full" formControlName="subSiteAddress" id="siteName" pInputText
                                    placeholder="{{'SubSite Address' }}" type="text"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="required" for="subSiteUrl">SubSite URL</label>
                                <input class="inputfield w-full" formControlName="subSiteUrl" id="subSiteUrl" pInputText
                                       placeholder="{{'SubSite URL'}}" type="text">
                            </div>
                            <div class="form-group">
                                <label class="required" for="subSiteStatus">SubSite Status</label>
                                <p-dropdown [options]="subSiteStatusList" [showClear]="true" formControlName="subSiteStatus" id="subSiteStatus"
                                    optionLabel="name" optionValue="oid" placeholder="SubSite Status">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>

                    <div class="form-group d-flex justify-content-center">
                        <button (click)="onCancel()" class="p-button-info btn-cancel mr-3" icon="pi pi-times"
                            label="{{'Cancel'}}" pButton pRipple type="button">
                        </button>
                        <button (click)="onSubmit()" class="p-button-info" icon="pi pi-check"
                            label="{{'Submit'}}" pButton pRipple type="button">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<p-toast position="bottom-right"></p-toast>
